blockquote{
    position: relative;
    background-color: #D9E5E3;
    padding: 1rem;
    border: 0.5rem solid #C2CCCA;
    width: 25ch;
    box-sizing: border-box;
}

.citacao:nth-of-type(odd){
    margin-left: 20px;
    float: right;
}

.citacao:nth-of-type(even){
    margin-right: 20px;
    float: left;
}


.citacao{
    transition: transform 1s,box-shadow 1s;
    transition-delay: 0s,1s;
}

.citacao:nth-of-type(even):hover,
.citacao:nth-of-type(even):focus{
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 0 20px 10000px rgba(0,0,0,.5);
    transition: transform 1s,box-shadow 1s;
    transition-delay: 1s,0s;
    

}


.citacao:nth-of-type(odd):hover,
.citacao:nth-of-type(odd):focus{
    transform: scale(1.2) rotate(-5deg);
    box-shadow: 0 0 20px 10000px rgba(0,0,0,.5);
    transition: transform 1s,box-shadow 1s;
    transition-delay: 1s,0s;

}


.cite{
    font-style: italic;
    float: left;
}


main div > p:first-letter{
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    //text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}




blockquote::before{
    content: '“';
    position: absolute;
    font-size: 8em;
    line-height: .8;
    color: #bbb;
}

            
blockquote::after{
    content: '”';
    position: absolute;
    font-size: 8em;
    line-height: .8;
    color: #bbb;
    right: 0;
    transform: translateZ(-1px);
}


blockquote p{
    position: relative;
}