html,body {
    height: 100%;
    overflow-x: hidden;
}

body {
    perspective: 20px;    
    perspective-origin: 50% 160px;
}

.faixa0,.container{
    transform-style: preserve-3d;
    
}
.container{
    position: relative;
    height: 100%;
    width: 100%;
}

.quadrado{
    width: 100px;
    height: 100px;

}

.faixa{
    height: 600px;
}
.faixa0{
    box-sizing: border-box;
    background-color: aliceblue;
    border-bottom: 10px solid blue;

}

.faixa1{
    background-color: bisque;

}



